body {
  overflow-y: scroll;
  /* padding-right:0px !important; */
  font-family: Kanit, sans-serif;
}

.hover-p {
  /* cursor: pointer; */
  transition: 0.3s;
}

.hover-p:hover {
  transform: scale(1.03);
}

input:focus,select:focus,textarea:focus{
  outline: none;
  border: 1px solid #1c62b9 !important;
  box-shadow: none !important;
  /* margin-left: 0px !important; */
}


.form-signin {
  max-width: 850px;
  padding: 1rem;
}


.form-signin .form-floating:focus-within {
  z-index: 2;
}

@media (min-width: 768px) {
  .input-group {
    width: 270px;
  }


}

@media (min-width: 992px) {
  .input-group {
    width: 350px;
  }
}
@media (min-width: 1200px) {
  .input-group {
    width: 490px;
  }
}

/* ด้านบน (top)  ด้านขวา (right), ด้านล่าง (bottom), และ ด้านซ้าย (left)  */
.form-otp {
  max-width: 400px;
  padding: 5rem 2rem 5rem 2rem;
}

@media (min-width: 576px) {
  .form-otp {
    max-width: 400px;
    padding: 5rem 2rem 5rem 2rem;
  }
}

@media (min-width: 768px) {
  .form-otp {
    max-width: 450px;
    padding: 10rem 2rem 10rem 2rem;
    /* padding-top: ; */
  }
}

@media (min-width: 1200px) {
  .form-otp {
    max-width: 850px;
    padding: 12rem;
  }
}

.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
  color: rgb(255, 255, 255);
  background-color: #0d6dfd93;
  border-radius: 7px;
}

.nav-tabs a {
  color: #212529;
  border-radius: 7px;
}

.nav-tabs .nav-link.active {
  color: rgb(255, 255, 255);
  background-color: #0d6efd;
  border-radius: 7px;
  margin-bottom: 2px;
}

.nav-tabs .nav-link {
  margin-bottom: 2px;
}

#spinner-div {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 2000;
}

@media (min-width: 768px) {
  .dropdown-menu{
    display: block;
    opacity: 0;
    transition: all 0.2s;
    right: 0;
    left: auto;
    pointer-events: none;
  }

  .dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
    opacity: 1;
    pointer-events: initial;
  }

  .dropdown .dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
    pointer-events: none;
  }
}

#btn-product-type .btn.btn-primary{
  box-shadow: 0px 0px 6px rgba(13,110,253,0.46);
}
#btn-product-type .btn.btn-light{
  box-shadow: 0px 0px 11px rgba(0,0,0,0.2);
}

a {
  text-decoration: none;
}

.cursor-pointer{
  cursor: pointer;
}

.product-image-thumb:hover {
    opacity: .5;
}

table.dataTable thead th {
  white-space: nowrap
}

