table {
  border-collapse: collapse;
  width: 100%;
  font-size: 23px;
}

td,
th {
  border: 1px solid #5ea3a8;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #ebfeff;
}

.thbg{
  background-color: #befbff;
}